<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BaiTap_InternShip</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>

    <div class="container body-content">
        @if (User.Identity.IsAuthenticated)
        {
            <div style="float: right; margin-top: 10px">
                <p>@Html.Encode(User.Identity.Name)</p>
                <a href="/Accounts/Logout" class="btn btn-primary"><i class="fa fa-sign-out-alt">&nbsp;</i>Logout</a>
            </div>
        }
        <center style="margin-top: 70px">

            @RenderBody()

        </center>
        <hr />
        <footer style="text-align: center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v7.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="589479938196531"
         theme_color="#44bec7"
         logged_in_greeting="Xin chào!! Chúng tôi có thể giúp gì cho bạn?"
         logged_out_greeting="Xin chào!! Chúng tôi có thể giúp gì cho bạn?">
    </div>
</body>
</html>